#grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  grid-template-rows: repeat(5, 1fr);   /* 5 equal rows */
  gap: 10px;
  background-color: green;
  width: 100vw;
  height: 100vh;
  color: white;
  font-size: 35px;
}

#grid div {
  border: 2px solid white;
}

/* Placement */
.one {
  grid-column: span 4; /* spans all 4 columns */
}

.two {
  grid-row: span 4; /* spans 4 rows */
}

.three {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.four {
  grid-column: span 2; /* spans 2 columns */
}

.five {
  grid-column: span 2; /* spans 2 columns */
}

.six {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

.seven {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.eight {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.nine {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}

.ten {
  grid-column: span 3; /* spans last 3 columns */
}
